@import 'variables';
@import 'mixins';
@import 'reset';

@import 'components/buttons';
@import 'components/container';
@import 'components/notification';
@import 'components/line';
@import 'components/breadcrumbs';

@import 'layouts/detailsOeuvre';
@import 'layouts/header';
@import 'layouts/listeOeuvres';

:root {
  color-scheme: light;
}

body {
  background: #fff;
}