#breadcrumbs p{
    display: flex;
    margin: 0.8rem $site-margin-lr;
    color: $color-muted;
    text-transform: uppercase;
    img {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
    }
    a, span {
        margin: 0 0.5rem;

    }
}