#header {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .upper {
        border-bottom: 1px solid $color-border;

        &__inner {
            margin: 1rem $site-margin-lr;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left-content ul,
            .right-content ul {
                display: flex;
                gap: 2rem;

                li a {
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;

                    img {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }

            .right-content li {
                width: 25%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .lower {
        border-bottom: 1px solid $color-border;

        &__inner {
            margin: 1rem $site-margin-lr;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left-content {
                a {
                    display: flex;
                    align-items: center;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $color-dark;
                    text-decoration: none;
                }

                img {
                    width: 5rem;
                    height: auto;
                }
            }

            .right-content {
                a {
                    display: flex;
                    align-items: center;
                    font-size: 0.8rem;
                    font-weight: 400;
                    color: $color-dark;
                    text-decoration: none;
                }

                img {
                    width: 2rem;
                    height: auto;
                }
            }
        }
    }
}