#ListOeuvres {
  margin: $site-margin-tb $site-margin-lr;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    h2 {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    .action-buttons {
      display: flex;
      gap: 1rem;

      button {
        padding: 1rem;
        border: 1px solid $color-line;
        font-weight: 800;
      }
    }
  }

  main {
    display: flex;
    gap: 10rem;
  }

  .card-oeuvre {
    width: 30%;
    position: relative;

    .fixed {
      position: absolute;
      z-index: 999;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 1px solid $color-border;
    }

    &__italic {
      font-style: italic;
    }

    &__muted {
      color: $color-muted;
    }

    &__bold {
      font-weight: 700;
    }

    &__tag {
      background: $color-light;
      padding: 0.2rem 0.5rem;
      font-size: 0.8rem;
      margin-right: 0.5rem;
      border: 1px solid $color-line;
    }

    &__inner {
      padding: 1rem;

      .img-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        .oeuvre {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease;
        }

        div {
          align-self: flex-end;
          background: $color-light;
        }
      }
    }

    &__buttons {
      justify-content: space-between;
    }

    &__infos {
      div {
        display: flex;
        align-items: center;
      }
    }

    .icon-location {
      width: 1rem;
      height: 1rem;
    }

    &__price {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
