<section id="DetailsOeuvre">
  <header class="top-nav">
    <div class="line__horizontal"></div>

    <nav class="top-nav__menu">
      <a href="#" class="top-nav__link top-nav__link--active">PRÉSENTATION</a>
      <div class="line__vertical"></div>
      <a href="#" class="top-nav__link">À PROPOS DE L’OEUVRE</a>
      <div class="line__vertical"></div>
      <a href="#" class="top-nav__link">ARTISTE</a>
      <div class="line__vertical"></div>
      <a href="#" class="top-nav__link">AUTRES OEUVRES</a>
    </nav>
  </header>

  <main>
    <section class="main-content">
      <section class="artwork-image">
        <div class="gallery-thumbs" id="desktopThumbs">
          <div class="thumbs">
            <img
              class="item-0"
              src="assets/images/icon-arrow-down.png"
              alt="arrow pointing down"
            />
            <div></div>
            <img
              class="item-1"
              src="assets/images/thumb1.png"
              data-index="0"
              alt="thumb 1"
            />
            <img
              class="item-2"
              src="assets/images/thumb2.png"
              data-index="1"
              alt="thumb 2"
            />
            <img
              class="item-3"
              src="assets/images/thumb3.png"
              data-index="2"
              alt="thumb 3"
            />
            <img
              class="item-4"
              src="assets/images/thumb4.png"
              data-index="3"
              alt="thumb 4"
            />
            <img
              class="item-5"
              src="assets/images/thumb5.png"
              data-index="4"
              alt="thumb 5"
            />
          </div>
        </div>

        <div class="gallery-main">
          <img
            id="desktopMainImage"
            src="assets/images/artwork-main.png"
            alt="Oeuvre"
          />

          <div class="gallery-main__footer">
            <div class="icons">
              <button class="icon-button">
                <img src="assets/images/icon-heart.png" alt="Favori" />
              </button>
              <button class="icon-button">
                <img src="assets/images/icon-share.png" alt="Partager" />
              </button>
            </div>
            <span class="views">10 VUES</span>
          </div>
        </div>
      </section>
      <section class="about-section">
        <h2 class="about-section__title">À PROPOS DE L’OEUVRE</h2>

        <div class="about-section__header">
          <div class="about-section__audio">
            <span class="about-section__audio-label">Information sonore</span>
            <button class="icon-button icon-button--audio">
              <img src="assets/images/icon-audio.png" alt="Audio" />
            </button>
          </div>

          <div class="about-section__flags">
            <img src="assets/images/france.png" alt="FR" />
            <img src="assets/images/italy.png" alt="IT" />
            <img src="assets/images/germany.png" alt="DE" />
          </div>
        </div>

        <div class="about-section__footer">
          <p class="about-section__text">
            Artiste de l’image Holly Watt est une photographe française. Elle a
            eu une enfance riche en voyages et en découvertes ce qui l’a rendue
            à l’affût de toutes sortes d’émotions. Elle découvre la photographie
            pendant son adolescence et commence à faire ses premières photos en
            argentique. Avec son appareil en bandoulière, elle effectue
            plusieurs tours du monde pendant de nombreuses années. D’une grande
            curiosité et avec une sensibilité qui lui est propre, Holly aime
            susciter l’émotion dans notre regard. Attachée à notre planète, elle
            s’inspire de ses oeuvres d’art naturelles. Holly nous invite au
            voyage avec elle dans son univers.
          </p>
        </div>
      </section>
    </section>

    <section class="artwork-card">
      <section class="artwork-card-info">
        <div class="artwork-card__inner">
          <p class="artwork-card__title">JEUNE FILLE À LA PERLE, 2021</p>
          <p class="artwork-card__artist">Emmanuelle MARTIN, France</p>

          <dl class="artwork-card__meta">
            <div>
              <dt>Médium:</dt>
              <dd>Peinture</dd>
            </div>
            <div>
              <dt>N° de série:</dt>
              <dd>1 / 1 • Oeuvre UNIQUE</dd>
            </div>
            <div>
              <dt>Technique:</dt>
              <dd>Acrylique sur toile</dd>
            </div>
            <div>
              <dt>Dimensions:</dt>
              <dd>130 x 97 cm</dd>
            </div>
            <div>
              <dt><span>Poids:</span></dt>
              <dd><span>1 KG</span></dd>
            </div>
            <div>
              <dt>Prête à être accrochée:</dt>
              <dd>Non</dd>
            </div>
            <div>
              <dt>Localisation de l’oeuvre:</dt>
              <dd>FRANCE</dd>
            </div>
            <div>
              <p>Livraison par des spécialistes</p>
            </div>
          </dl>
        </div>
      </section>

      <section class="artwork-card-price">
        <div class="artwork-card__inner">
          <div class="artwork-card__price-line">
            <span class="artwork-card__price">3000 €</span>
          </div>
          <div class="artwork-card__pay-info">
            <span>Payez en 3 x sans frais</span>
          </div>

          <div class="artwork-card__options">
            <label>
              <input type="checkbox" />
              Demande une dédicace
            </label>
            <label>
              <input type="checkbox" />
              Cadeau, personnaliser un message
            </label>
          </div>

          <button class="btn btn--primary">ACQUÉRIR L’OEUVRE</button>

          <button class="btn btn--secondary">PROPOSER UN PRIX</button>

          <ul class="artwork-card__bullets">
            <li>Oeuvre originale</li>
            <li>Vendue avec certificat d’authenticité</li>
            <li>Livraison sous 7 jours en moyenne</li>
            <li>Frais de livraison GRATUIT en Europe</li>
            <li>Retours GRATUIT 14 jours après réception</li>
          </ul>

          <div class="artwork-card__tabs">
            <button class="tab"><span>À propos de l’oeuvre</span></button>
            <button class="tab">Paiement</button>
            <button class="tab tab--active">Livraison</button>
            <button class="tab">Retour</button>
          </div>

          <ul class="artwork-card__tab-list">
            <li>Frais de livraison GRATUIT en Europe</li>
            <li>Livraison sous 7 jours en moyenne</li>
            <li>Conseils des questions fréquentes dans les FAQs</li>
            <li>Retours GRATUIT 14 jours après réception</li>
          </ul>
          <div class="line__horizontal"></div>

          <div class="artwork-card__footer-actions">
            <button class="link-button">
              <img src="assets/images/question-mark.png" alt="POSER UNE QUESTION">
              POSER UNE QUESTION
            </button>
            <button class="link-button">
              <img src="assets/images/phone-icon.png" alt="ÊTRE RAPPELÉ">
              ÊTRE RAPPELÉ
            </button>
          </div>
        </div>
      </section>
    </section>
  </main>
</section>
