<section id="header">
  <section class="upper">
    <section class="upper__inner">
      <div class="left-content">
        <ul>
          <li>
            <a href="#"
              ><img src="assets/images/burger-icon.png" alt="" /> Menu
            </a>
          </li>
          <li>
            <a href="#"
              ><img src="assets/images/euro-icon.png" alt="" /> Euro
            </a>
          </li>
          <li>
            <a href="#"
              ><img src="assets/images/france.png" alt="" /> Français
            </a>
          </li>
          <li>
            <a href="#"
              ><img src="assets/images/mail-icon.png" alt="" /> contactez-nous
            </a>
          </li>
        </ul>
      </div>
      <div class="right-content">
        <ul>
          <li>
            <a href="#"><img src="assets/images/gift-card.png" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="assets/images/icon-heart.png" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="assets/images/cart-icon.png" alt="" /></a>
          </li>
          <li>
            <a href="#"><img src="assets/images/profile-icon.png" alt="" /></a>
          </li>
        </ul>
      </div>
    </section>
  </section>
  <section class="lower">
    <section class="lower__inner">
      <div class="left-content">
        <a href="#">
          <div class="logo-container">
            <img src="assets/images/logo.png" alt="Art Interactivities Logo" />
          </div>
          ART INTERACTIVITIES
        </a>
      </div>
      <div class="right-content">
        <a href="#">
          <div class="search-icon-container">
            <img src="assets/images/search-icon.png" alt="icone de recherche" />
          </div>
          RECHERCHER
        </a>
      </div>
    </section>
  </section>
</section>

<section id="notifications">
  <p class="notif-text">Inscrivez vous à notre newsletter !</p>
</section>

<section id="breadcrumbs">
  <p>
    <img src="assets/images/home-icon.png" alt="">
    <a href="#">Art Shop</a> /
    <a href="#">Oeuvres</a> /
    <a href="#">Peinture</a> /
    <a href="#">Emmanuelle MARTIN</a> /
    <span>Jeune fille à la perle</span>
  </p>
</section>