<section id="ListOeuvres">
  <header>
    <h2>oeuvres par série de l'artiste</h2>
    <div class="action-buttons">
      <div class="action-buttons__navigation">
        <button class="action-buttons__left"><</button>
        <button class="action-buttons__right">></button>
      </div>
      <div class="action-buttons__view-all">
        <button class="action-buttons__grid-view">Afficher tout</button>
      </div>
    </div>
  </header>

  <main>
    <div class="card-oeuvre">
      <img class="fixed" src="assets/images/icon-heart.png" alt="Favori icon" />

      <div class="card-oeuvre__inner">
        <div class="img-container">
          <img
            class="oeuvre"
            src="assets/images/oeuvre-1.png"
            alt="Oeuvre d'art"
          />
          <div class="views">230 vues</div>
        </div>

        <div class="card-oeuvre__infos">
          <div>
            <p class="card-oeuvre__italic">Nom de la série</p>
          </div>
          <div>
            <dt>N°série:</dt>
            <dd>1/10</dd>
          </div>
          <div>
            <p>Acrylique sur toile, &nbsp;</p>
            <p class="card-oeuvre__muted">140x157 cm</p>
          </div>
          <div>
            <p class="card-oeuvre__bold">Emmanuelle MARTIN</p>
          </div>

          <div class="card-oeuvre__buttons">
            <div>
              <p class="card-oeuvre__tag">Peintre</p>
              <p class="card-oeuvre__tag">Sculpteur</p>
            </div>
            <button class="card-oeuvre__follow">+ Suivre L'artiste</button>
          </div>

          <div>
            <img
              class="icon-location"
              src="assets/images/location.png"
              alt="location icon"
            />
            <p class="card-oeuvre__italic">Gironde, FRANCE</p>
          </div>

          <div class="card-oeuvre__price">
            <p class="card-oeuvre__bold">3 000 €</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card-oeuvre">
      <img class="fixed" src="assets/images/icon-heart.png" alt="Favori icon" />

      <div class="card-oeuvre__inner">
        <div class="img-container">
          <img
            class="oeuvre"
            src="assets/images/oeuvre-1.png"
            alt="Oeuvre d'art"
          />
          <div class="views">230 vues</div>
        </div>

        <div class="card-oeuvre__infos">
          <div>
            <p class="card-oeuvre__italic">Nom de la série</p>
          </div>
          <div>
            <dt>N°série:</dt>
            <dd>1/10</dd>
          </div>
          <div>
            <p>Acrylique sur toile, &nbsp;</p>
            <p class="card-oeuvre__muted">140x157 cm</p>
          </div>
          <div>
            <p class="card-oeuvre__bold">Emmanuelle MARTIN</p>
          </div>

          <div class="card-oeuvre__buttons">
            <div>
              <p class="card-oeuvre__tag">Peintre</p>
              <p class="card-oeuvre__tag">Sculpteur</p>
            </div>
            <button class="card-oeuvre__follow">+ Suivre L'artiste</button>
          </div>

          <div>
            <img
              class="icon-location"
              src="assets/images/location.png"
              alt="location icon"
            />
            <p class="card-oeuvre__italic">Gironde, FRANCE</p>
          </div>

          <div class="card-oeuvre__price">
            <p class="card-oeuvre__bold">3 000 €</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-oeuvre">
      <img class="fixed" src="assets/images/icon-heart.png" alt="Favori icon" />

      <div class="card-oeuvre__inner">
        <div class="img-container">
          <img
            class="oeuvre"
            src="assets/images/oeuvre-1.png"
            alt="Oeuvre d'art"
          />
          <div class="views">230 vues</div>
        </div>

        <div class="card-oeuvre__infos">
          <div>
            <p class="card-oeuvre__italic">Nom de la série</p>
          </div>
          <div>
            <dt>N°série:</dt>
            <dd>1/10</dd>
          </div>
          <div>
            <p>Acrylique sur toile, &nbsp;</p>
            <p class="card-oeuvre__muted">140x157 cm</p>
          </div>
          <div>
            <p class="card-oeuvre__bold">Emmanuelle MARTIN</p>
          </div>

          <div class="card-oeuvre__buttons">
            <div>
              <p class="card-oeuvre__tag">Peintre</p>
              <p class="card-oeuvre__tag">Sculpteur</p>
            </div>
            <button class="card-oeuvre__follow">+ Suivre L'artiste</button>
          </div>

          <div>
            <img
              class="icon-location"
              src="assets/images/location.png"
              alt="location icon"
            />
            <p class="card-oeuvre__italic">Gironde, FRANCE</p>
          </div>

          <div class="card-oeuvre__price">
            <p class="card-oeuvre__bold">3 000 €</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
